<%= r_f.fields_for(:quantities) do |q_f| %>
  <%= q_f.form_group :quantities, layout: :horizontal, label_col: "col-sm-3", control_col: "col-sm-8" do %>
    <div class="input-group col-sm-10">
      <div class="input-group-btn">
        <%= q_f.link_to_remove 'X', class: 'btn btn-danger' %>
      </div>    
      <%= q_f.number_field_without_bootstrap :quantity, placeholder: "5" , class: 'form-control col-sm-4'%>
      
      <div class="input-group-btn">
        <div class="btn-group">
          <%= partial: "dropdown_button", locals: {name: "unit", width: "75px"} %>
          <%= q_f.select_without_bootstrap :unit_id, Unit.all.collect { |u| [u.short_name, u.id]}, {}, prompt: t('unit'), class: 'hide' %>
        </div>
        <%= link_to '%', "javascript:recipe_form_helper.edit_unit();", :class => "btn btn-warning" %>
        <%= link_to '+', "javascript:recipe_form_helper.new_unit();", :class => "btn btn-success" %>
        <div class="btn-group">
          <%= partial: "dropdown_button", locals: {name: "ingredient", width: "125px"} %>          
          <%= q_f.select_without_bootstrap :ingredient_id, Ingredient.all.collect { |i| [i.name, i.id]}, {}, prompt: t('ingredient'), class: 'hide' %>
        </div>
        <%= link_to '%', "javascript:recipe_form_helper.edit_ingredient();", :class => "btn btn-warning" %>
        <%= link_to '+', "javascript:recipe_form_helper.new_ingredient();", :class => "btn btn-success" %>
      </div>
      <script>
        recipe_form_helper.select2button();
      </script>
    </div>
  <% end %>
<% end %>
	
<%= r_f.link_to_add t('more_ingredients'), :quantities, class: 'btn btn-xs btn-info'%>