<li style="list-style-type: none; clear: both">
  <div class="well" style="display: flex; margin-top: 10px">
    <% p = recipe.pictures.first %>
    <% if p then img = p.picture_path else img = "/assets/no_image.png" end %>
    <img src="<%= img %>" class="img-rounded img-thumbnail" style="width: 250px; height: 135px;" />
  	<div style="padding-left: 20px; flex-grow: 100; position: relative">
  	  <%= render partial: 'recipes/rating', locals: {recipe: recipe} %>
  		<h4><%= link_to recipe.name, recipe_path(recipe) %> <small>(<%= recipe.prep_time.to_s + " " + t('recipe.prep_time_unit') %>)</small></h4>
  		<%= recipe.instructions %> 
  	</div>
	</div>
</li>