<%= bootstrap_form_for( @recipe, layout: :horizontal) do |f| %>
<p>
	<%= f.text_field :name, control_col: "col-sm-5"%>
</p>
<p>
	<%= f.number_field :prep_time, control_col: "col-sm-5", placeholder: "20 Minutes" %>
</p>
<p>
	<%= f.text_area :instructions, control_col: "col-sm-5", placeholder: "Please enter the introductions" %>
</p>
<p>
	<p>
		<%= f.form_group :range, layout: :horizontal, control_col: "col-sm-5", label: { text: "Visible for: " }, help: "Choose who should be able to see the recipe" do %>
			<%= f.radio_button :range, "public", label: t('all'), inline: true %>
			<%= f.radio_button :range, "retistrated", label: t('only_registrated_user'), inline: true %>
			<%= f.radio_button :range, "private", label: t('only_me'), checked: true, inline: true %>
		<% end %>
	</p>
	<%= f.submit%>
</p>
<% end %>