<%= bootstrap_form_for( @recipe, layout: :horizontal) do |f| %>
<p>
	<%= f.text_field :name, control_col: "col-sm-5"%>
</p>
<p>
	<%= f.number_field :prep_time, control_col: "col-sm-5", placeholder: "20 Minutes" %>
</p>
<p>
	<%= f.text_area :instructions, control_col: "col-sm-5", placeholder: "Please enter the introductions" %>
</p>
<p>
	<p>
		<% checked = [false, false, false] %>
		<% isdisabled = true %>
		<% help_text = ""%>
		<% case @recipe.range %>
			<% when "public" %>
				<% checked[0] = true %>
			<% when "registrated" %>
				<% checked[1] = true %>
			<% when "public" %>
				<% checked[2] = true %>
			<% else %>
				<% checked[2] = true %>
				<% isdisabled = false %>
				<% help_text = "Choose who should be able to see the recipe"%>
		<% end %>
		<%= f.form_group :range, layout: :horizontal, control_col: "col-sm-5", label: { text: "Visible for: " }, help: help_text do %>
			<%= f.radio_button :range, "public", label: t('all'), checked: checked[0], inline: true, disabled: isdisabled %>
			<%= f.radio_button :range, "registrated", label: t('only_registrated_user'), checked: checked[1], inline: true, disabled: isdisabled %>
			<%= f.radio_button :range, "private", label: t('only_me'), inline: true, checked: checked[2], disabled: isdisabled %>
		<%end%>
</p>
	<%= f.submit class: "btn btn-success"%>
	<p><%= back_to_list %></p>
</p>
<% end %>