<script>
  var recipe_helper = new recipe();
</script>

<h2><%= t('recipe.details_for')%>
<%= @recipe.name%> 
<small>(<%= @recipe.prep_time.to_s + " " + t('recipe.prep_time_unit')%>)</small></h2>
<% if user_signed_in?%>
  <% if current_user.id == @recipe.user_id%>
    <% if(@recipe.range == "private")%>
      <%= link_to t("delete"), @recipe, data: { confirm: t('recipe.delete_popup', recipe: @recipe.name) }, method: :delete %>
    <% end%>
    <%= link_to t("change"), edit_recipe_path(@recipe) %>
  <% end %>
  <%= link_to t("recipe.add_to_cookbook"), 'javascript:recipe_helper.add_to_cookbooks();' %>
<% end %>
<div class="well" style="display: flex;">
    <br/>
    <% img = @recipe.pictures.first || "/assets/no_image.png"%>
    <img src="<%= img %>" class="img-rounded img-thumbnail" style="float: left; width: auto; height: 150px;" />
  	<div style="margin-left: 20px">
  		<%= t('ingredient.ingredients') + ' ' + t('for') + ' ' + @recipe.number_of_portions.to_s + ' ' + t('persons') + ':'%> <br/>
  		<% quantities = @recipe.quantities %>
  		<% quantities.each do |quantity|%>
  			<div class="row">
	  			<div class = "col-sm-2"><%= quantity.quantity.to_s %></div>
	  			<div class = "col-sm-4"><%= quantity.unit.name %></div>
	  			<div class = "col-sm-6"><%= quantity.ingredient.name %></div>
  			</div>
			<% end %>
			<br />
			<%= t('recipe.instructions') + ":"%><br />
  		<%= @recipe.instructions %> 
  	</div>
</div>

<%= load_comments %>
