<script>
  var recipe_helper = new recipe();
</script>

<h2><%= t('recipe.details_for')%>
  <%= @recipe.name%> 
  <small>
    <% unless @recipe.prep_time.nil? %>
      (<%= @recipe.prep_time.to_s + " " + t('recipe.prep_time_unit')%>)
    <% end %>
  </small>
  <div style = "float: right; font-size: 14px"><%= t('recipe.autor') + ": " + @recipe.user.name%></div>
</h2>
<% if user_signed_in?%>
  <% if current_user.id == @recipe.user_id%>
    <% if(@recipe.range == "private")%>
      <%= link_to t("delete"), @recipe, data: { confirm: t('recipe.delete_popup', recipe: @recipe.name) }, method: :delete %>
    <% end%>
    <%= link_to t("change"), edit_recipe_path(@recipe) %>
  <% end %>
  <%= link_to t("recipe.add_to_cookbook"), 'javascript:recipe_helper.add_to_cookbooks();' %>
<% end %>
<div class="well" style="display: flex; margin-top: 10px">
  <% p = @recipe.pictures.first %>
  <% if p then img = p.picture_path else img = "/assets/no_image.png" end %>
  <img src="<%= img %>" class="img-rounded img-thumbnail" style="width: 250px; height: 135px;" />
  <div style="padding-left: 20px; flex-grow: 100; position: relative">

    <%= render partial: 'rating', locals: {recipe: @recipe} %>
    <%= render partial: 'my_rating', locals: {recipe: @recipe} %>

    <h4>
      <%= t('ingredient.ingredients') + ' ' + t('for') + ' ' + @recipe.number_of_portions.to_s + ' ' + t('persons') + ':'%> <br/>      
    </h4>
		<% quantities = @recipe.quantities %>
		<%= render quantities %>
		<br />
		
    <h4>
  		<%= t('recipe.instructions') + ":"%><br />
    </h4>
		<%= @recipe.instructions %> 
	</div>
</div>

<%= load_comments %>
