<h1>ActivityPlans#overview</h1>
<p>Find me in app/views/activity_plans/overview.html.erb</p>

<table class="table" style="table-layout: fixed; width: 100%;">
	<tr>
		<% d = @week_start %>
		<th><%= d %><p><%= t('weekdays_short.monday')%></p></th>
		<% d = d.tomorrow %>
		<th><%= d %><p><%= t('weekdays_short.tuesday')%></p></th>
		<% d = d.tomorrow %>
		<th><%= d %><p><%= t('weekdays_short.wednesday')%></p></th>
		<% d = d.tomorrow %>
		<th><%= d %><p><%= t('weekdays_short.thursday')%></p></th>
		<% d = d.tomorrow %>
		<th><%= d %><p><%= t('weekdays_short.friday')%></p></th>
		<% d = d.tomorrow %>
		<th><%= d %><p><%= t('weekdays_short.saturday')%></p></th>
		<% d = d.tomorrow %>
		<th><%= d %><p><%= t('weekdays_short.sunday')%></p></th>
	</tr>
		
	<tr>
		<% d = @week_start %>
		<% 7.times do %>
			<td><%= link_to t('activity_plans.new'), new_activity_plan_week_path( d.to_s ) %></td>
			<% d = d.tomorrow %>
		<% end %>
	</tr>
	
	<tr>
		<% base_need = getBasalMetabolism || 0 %>
		<% 7.times do |i| %>
			<td><%= "#{t( 'activity_plans.energy_day_need' )} #{(@days[i].inject(0) { |sum, n| sum + n.repetitions * n.activity.kj} / 60 + base_need ).round 2 }kj/h" %></td>
		<% end %>
	</tr>
	
	<%= render partial: 'activity_plans_rows' %>

</table>

<%= link_to t( 'activity_plans.previous' ), activity_plans_week_path( @week_start.last_week.to_s ) %>
<%= link_to t( 'activity_plans.next' ), activity_plans_week_path( @week_end.tomorrow.to_s ), style: 'float: right' %>