<%= bootstrap_form_for( @ingredient, url: 'javascript: post_new_ingredient();', layout: :horizontal) do |i_f| %>
<p>
	<%= i_f.text_field :name, control_col: "col-sm-5"%>
</p>
<p>
	<%= i_f.number_field :kj, control_col: "col-sm-5", placeholder: "2040 KJ" %>
</p>
<p>
	<%= i_f.number_field :carbohydrate, control_col: "col-sm-5", placeholder: "2040 KJ" %>
</p>
<p>
	<%= i_f.number_field :protein, control_col: "col-sm-5", placeholder: "2040 KJ" %>
</p>
<p>
	<%= i_f.number_field :fat, control_col: "col-sm-5", placeholder: "2040 KJ" %>
</p>
<p>
	<%= i_f.number_field :roughage, control_col: "col-sm-5", placeholder: "2040 KJ" %>
</p>
<p>
	<%= i_f.number_field :default_quantity, control_col: "col-sm-5", placeholder: "2040 KJ" %>
	<%= i_f.select :unit_id, Unit.all.collect { |u| [u.short_name, u.id]}, hide_label: true, prompt: 'Einheit' %>
</p>

	<%= i_f.submit class: "btn btn-success"%>
<% end %>