<button name="<%= name%>" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" 
  <% if(defined? width) %>style="width:<%= width%>" <% end %>>
  <% if(defined? show_name) %> <%=show_name %> <% else %> <%=name%> <% end %>
  <span class="caret"/>
</button>
<ul name="<%= name%>" class="dropdown-menu">
  <li></li>
</ul>