<%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  
  <div>
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div>
  <%= f.text_field :name %></div>
  <%if @user.password.nil? %>
    <div><%= f.label :password %> <% if @validatable %><i>(<%= @minimum_password_length %> characters minimum)</i><% end %><br />
      <%= f.password_field :password, hide_label: true, autocomplete: "off" %>
    </div>
  
    <div>
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>
  <% end %>  
  <div>
    <%= f.form_group :sex do %>
      <%= f.radio_button :sex, 'm', label: t('male'), inline: true, checked: true %>
      <%= f.radio_button :sex, 'f', label: t('female'), inline: true %>
    <% end %>
  </div>
  
  <%= render partial: 'date_picker', locals: {field_name: :birth_date, :label => :birth_date, form_helper: f } %>

  <div>
    <%= f.number_field :weight, append: t('user.weight_unit') %>
  </div>
  
  <div>
    <%= f.number_field :height, :step => 0.01, append: t('user.height_unit')%>
  </div>

  <div><%= f.submit t('login.sign_up') %></div>
<% end %>
